<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#add-modal">
      Add
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Umur</th>
            <th>Email</th>
            <th>No Telepon</th>
            <th>Alamat</th>
            <th style="width: 150px;" class="text-right">Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i < customer.length; i++){ %>
            <tr>
              <td>
                <%= i + 1 %>
              </td>
              <td>
                <%= customer[i].nama %>
              </td>
              <td>
                <%= customer[i].umur %>
              </td>
              <td>
                <%= customer[i].email %>
              </td>
              <td>
                <%= customer[i].no_telp %>
              </td>
              <td>
                <%= customer[i].alamat %>
              </td>
              <td class="text-right">
                <form action="/customer/<%= customer[i].id %>?_method=DELETE" 
                  method="POST">
                <a href="javascript:void()" class="btn btn-outline-warning btn-sm button-update"
                  data-id="<%= customer[i].id %>" data-nama="<%= customer[i].nama %>"
                  data-umur="<%= customer[i].umur %>" data-email="<%= customer[i].email %>"
                  data-no_telp="<%= customer[i].no_telp %>" data-alamat="<%= customer[i].alamat %>"><i
                    class="fa-solid fa-pen-to-square"></i>Edit</a>
                <button type="submit" class="btn btn btn-danger btn-sm" onclick="return confirm('Anda Yakin?');"><i
                    class="fa-solid fa-trash-can"></i></button>
                </form>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>